/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ROOT */
#root {
  width: 100%;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
}

/* КОНТЕЙНЕР */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* HEADER */
.header {
  background: #000000;
  color: white;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
}

/* MAIN */
.main {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

/* SIDEBAR */
.sidebar {
  width: 30%;
  background: #f3f3f3;
  padding: 20px;
  border-radius: 10px;
}

/* CONTENT */
.content {
  width: 70%;
}

/* КАРТКИ */
.content div {
  background: #f3f3f3;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 10px;
}

/* FOOTER */
footer {
  margin-top: 20px;
  background: #222;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

/* ТЕМА */
.light {
  background: white;
  color: black;
}

.dark {
  background: #111;
  color: white;
}

.dark .sidebar,
.dark .content div {
  background: #222;
}